*{
	padding: 0;
}
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	scroll-behavior: smooth;
}

body {
	line-height: 1;
	font-family: 'Lato','Open Sans', sans-serif;
	overflow-x: hidden;
}
body main{
    width: 100%;
    /*background-color: white;*/
}
/*header section starts here*/
header{
    background-color: #fff; 
    width: 100%;   
     border-bottom: 1px solid #fff;
}
header article {
    padding: 1em 0;
    width: 75%;
    margin: auto !important;
   
}
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #ccc;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #ccc;
}

::-webkit-scrollbar-thumb
{
	background-color: #ccc;
	border: 2px solid #ccc;
}

._PDB20PX{
  padding-bottom: 20px;
}
._PAD20{
  padding: 20px;
}
._PAD5{
  padding: 5px;
}
.plus{
      top: 10px;
    position: absolute;
    /*display: none;*/
    width: 20px;
    height: 20px;
    line-height: 0;
    margin-left: 1px;
    font-size: 15px;
    font-weight: bold;
}
.plus:before{
	content:"+";
}
.header_right_section{
  text-align: right;
}
.user{

}
.user li {
  display: inline-block;
  padding: 12px 5px 10px; 
  color: #284695;
}
.menu{

}
#summary li span {
  margin-right: 7px;
    float: right;
}
/*#summary li span:before {
  content: "x";
    font-size: 20px;
    margin-right: 12px;
}*/
#backtohome{
  position: absolute;
    top: 4.58em;
    left: 1.67em;
}
.optn_sec{
    text-align: center;
    margin-top: 40px;
	}
.opt_section{
	text-align: center;
	margin-top: 20px;

}
.menu li {
  display: inline-block;
  padding: 7px 5px 10px;
}
.menu li a{
  text-decoration: none;
  color: #284695;
  font-weight: 700;
}
/*header section Ends here*/
/*Login Starts here*/
.pen-title {
  padding: 50px 0;
  text-align: center;
  letter-spacing: 2px;
}
.pen-title h1 {
  margin: 0 0 20px;
  font-size: 48px;
  font-weight: 300;
}
.pen-title span {
  font-size: 12px;
}
.pen-title span .fa {
  color: #284695;
}
.pen-title span a {
  color: #284695;
  font-weight: 600;
  text-decoration: none;
}

/* Rerun */
.rerun {
  margin: 0 0 30px;
  text-align: center;
}
.rerun a {
  cursor: pointer;
  display: inline-block;
  background: #284695;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  padding: 10px 20px;
  color: #ffffff;
  text-decoration: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}
.rerun a:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

/* Scroll To Bottom */
#codepen, #portfolio {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #363636;
  width: 56px;
  height: 56px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  color: #ffffff;
  text-align: center;
}
#codepen i, #portfolio i {
  line-height: 56px;
}
#codepen:hover, #portfolio:hover {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

/* CodePen */
#portfolio {
  bottom: 96px;
  right: 36px;
  background: #284695;
  width: 44px;
  height: 44px;
  -webkit-animation: buttonFadeInUp 1s ease;
  animation: buttonFadeInUp 1s ease;
}
#portfolio i {
  line-height: 44px;
}
article.first_form , .third_form {
	width: 207px;
    margin: auto;
    text-align: center;
}
article.first_form{
	width: 207px;
	margin-bottom: 4em;
	
}
ul.fbitems{
	list-style :none;
	padding: 0px 20px;
}
ul.fbitems li{
	list-style: none;
	text-decoration: none;
	line-height: 60px;
	border-bottom: 1px solid #ccc;
	text-align: left;
	
}

span.cnt{
	position: relative;
	display: table;
	width: 20px;
	height: 20px;
	line-height: 21px;
	margin-left: 1px;
	font-size: 15px;
	font-weight: bold;
}
span.min_icn{
	font-weight: bold;
    /* font-size: 30px; */
    position: relative;
    height: 3px;
    width: 15px;
    display: inline-block;
    background-color: #ccc;
    float: right;
    top: 46px;
    right: -22px;
    padding: 2px;
}
div#total_itms{
	width: 100%;
    height: 19px;
    background-color: rgba(221, 221, 221, 0.12);
    /* text-align: center; */
    margin-top: 11px;
    padding-left: 27px;
}
div.total_amnt{
	width: 100%;
    height: 19px;
    background-color: rgba(221, 221, 221, 0.12);
    /* text-align: center; */
    margin-top: 11px;
    padding-left: 27px;
}
span#tot_no{
	float: right;
    padding-right: 33px;
    /* font-size: 14px; */
    font-weight: bold;
}
span.amnt{
	float: right;
    padding-right: 33px;
    /* font-size: 14px; */
    font-weight: bold;
}
div#summary{
	width :auto;
	
}
div#summary h1{
	width: auto;
    text-align: center;
    color: #284695;
    text-transform: uppercase;
    font-weight: 900;
}
div#summary ul{
	width :auto;
	height: auto;
	list-style: none;
}
div#summary ul li{
    border-bottom: 1px solid #ccc;
    padding: -1px 32px;
    padding: 0px 0px;
    margin: 0px 25px;
 }
 
ul.fbitems li div.countbtn{
	background-color: #fff;
	width: 25px;
	height: 25px;
	float: right;
	text-align: center;
	margin-top : 15px;
	border-radius: 50%;
	border:1px solid #4C81F1;
	display: block;
	position: relative;
	
	
}
ul.fbitems li:last-child{
	border-bottom: none;
}
ul.fbitems li img{
	width: 60px;
	height: 59px;
	float: left;
}
ul.fbitems li span.desc{
	color: #284695;
    /* font-weight: 900; */
    /* font-size: 20px; */
    /* font-style: italic; */
    margin-left: 10%;
	
}
div.fb_container{
	height: 300px;
	overflow-y: auto;
}
.btnSave,.btnSavevendor{
    background-image: url(../images/save.png);
    border: none;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: transparent;
    color: transparent;
    width: 20px;
}
.btnDelete,.btnDeletevendor{
    padding: 0 10px;
    background: red;
    color: white;
    border: none;
    margin-right: 7px;
}
.btnEdit,.btnEditvendor{
     background-image: url(../images/edit.png);
    border: none;
    background-repeat: no-repeat;
    background-size: 20px;
    background-color: transparent;
    color: transparent;
    width: 20px;
}
/* Container */
._login{
 	/*background-image: url(../images/login_bg.jpg);*/
  background-color: #ccc;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
}
.login_container {
	 position: absolute;
    max-width: 400px;
    width: 100%;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 540px;
}
.login_container.active .card:first-child {
  background: #f2f2f2;
  margin: 0 15px;
}
.login_container.active .card:nth-child(2) {
  background: #fafafa;
  margin: 0 10px;
}
.login_container.active .card.alt {
  top: 20px;
  right: 0;
  width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 5px;
  padding: 60px 0 40px;
  overflow: hidden;
}
.login_container.active .card.alt .toggle {
  position: absolute;
  top: 40px;
  right: -70px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  -webkit-transition: -webkit-transform .3s ease;
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}
.login_container.active .card.alt .toggle:before {
  content: '';
}
.login_container.active .card.alt .title,
.login_container.active .card.alt .input-container,
.login_container.active .card.alt .button-container {
  left: 0;
  opacity: 1;
  visibility: visible;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.login_container.active .card.alt .title {
  -webkit-transition-delay: .3s;
          transition-delay: .3s;
}
.login_container.active .card.alt .input-container {
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}
.login_container.active .card.alt .input-container:nth-child(2) {
  -webkit-transition-delay: .5s;
          transition-delay: .5s;
}
.login_container.active .card.alt .input-container:nth-child(3) {
  -webkit-transition-delay: .6s;
          transition-delay: .6s;
}
.login_container.active .card.alt .button-container {
  -webkit-transition-delay: .7s;
          transition-delay: .7s;
}
.caret{
  transition: all .5s ease; 
  float: right;
  margin-top: 8px;
}

/* Card */
.cart-90deg .caret{
  transform: rotateZ(-90deg);
    transition: all .5s ease;
}
.card {
  position: relative;
  background: #ffffff;
  border-radius: 5px;
  padding: 60px 0 40px 0;
  box-sizing: border-box;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-transition: .3s ease;
  transition: .3s ease;
  /* Title */
  /* Inputs */
  /* Button */
  /* Footer */
  /* Alt Card */
}
.card:first-child {
  /*background: #284695;*/
  /*height: 10px;*/
  border-radius: 5px 5px 0 0;
  margin: 0 10px;
  padding: 0;
}
.card .title {
  position: relative;
  z-index: 1;
  border-left: 1.5em solid #284695;
  margin: 0 0 35px;
  padding: 10px 0 10px 12px;
  color: #284695;
  font-size: 32px;
  font-weight: 600;
  text-transform: uppercase;
}
.card .input-container {
  position: relative;
  margin: 0 60px 50px;
}
.card .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  /*height: 60px;*/
  border: 0;
  color: #212121;
  font-size: 24px;
  font-weight: 400;
  margin: 15px auto 3px;
}
.card .input-container input:focus ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container input:focus ~ .bar:before, .card .input-container input:focus ~ .bar:after {
  width: 50%;
}
.card .input-container input:valid ~ label {
  color: #9d9d9d;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}
.card .input-container label {
  position: absolute;
  top: 0;
  left: 0;
  color: #757575;
  font-size: 24px;
  font-weight: 300;
  line-height: 60px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}
.card .input-container .bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background: #757575;
  width: 100%;
  height: 1px;
}
.card .input-container .bar:before, .card .input-container .bar:after {
  content: '';
  position: absolute;
  background: #284695;
  width: 0;
  height: 2px;
  -webkit-transition: .2s ease;
  transition: .2s ease;
}
.card .input-container .bar:before {
  left: 50%;
}
.card .input-container .bar:after {
  right: 50%;
}
.card .button-container {
  margin: 0 60px;
  text-align: center;
}
.card .button-container button {
  outline: 0;
  cursor: pointer;
  position: relative;
  display: inline-block;
  background: 0;
  /*width: 240px;*/
  padding: 10px 50px;
  border: 2px solid #284695;
  /*padding: 20px 0;*/
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
  overflow: hidden;
  -webkit-transition: .3s ease;
  transition: .3s ease;
  background-color: #284695;
}
.card .button-container button span {
  position: relative;
  z-index: 1;
  color: #ddd;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  display: block;
  background: #284695;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  margin: -15px 0 0 -15px;
  opacity: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .button-container button:hover, .card .button-container button:active, .card .button-container button:focus {
  border-color: #284695;
}
.card .button-container button:hover span, .card .button-container button:active span, .card .button-container button:focus span {
  color: white;
}
.card .button-container button:active span, .card .button-container button:focus span {
  color: #ffffff;
}
.card .button-container button:active:before, .card .button-container button:focus:before {
  opacity: 1;
  -webkit-transform: scale(10);
  transform: scale(10);
}
.card .footer {
  margin: 40px 0 0;
  color: #d3d3d3;
  font-size: 24px;
  font-weight: 300;
  text-align: center;
}
.card .footer a {
  color: inherit;
  text-decoration: none;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card .footer a:hover {
  color: #bababa;
}
.card.alt {
  position: absolute;
  top: 40px;
  right: -70px;
  z-index: 10;
  width: 140px;
  height: 140px;
  background: none;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  -webkit-transition: .3s ease;
  transition: .3s ease;
}
.card.alt .toggle {
  position: relative;
  background: #284695;
  width: 140px;
  height: 140px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff;
  font-size: 58px;
  line-height: 140px;
  text-align: center;
  cursor: pointer;
}
.card.alt .toggle:before {
  content: '\f040';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}
.card.alt .title,
.card.alt .input-container,
.card.alt .button-container {
  left: 100px;
  opacity: 0;
  visibility: hidden;
}
.card.alt .title {
  position: relative;
  border-color: #ffffff;
  color: #ffffff;
}
.card.alt .title .close {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}
.card.alt .title .close:before {
  content: '\00d7';
}
.card.alt .input-container input {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ label {
  color: #ffffff;
}
.card.alt .input-container input:focus ~ .bar:before, .card.alt .input-container input:focus ~ .bar:after {
  background: #ffffff;
}
.card.alt .input-container input:valid ~ label {
  color: #ffffff;
}
.card.alt .input-container label {
  color: rgba(255, 255, 255, 0.8);
}
.card.alt .input-container .bar {
  background: rgba(255, 255, 255, 0.8);
}
.card.alt .button-container button {
  width: 100%;
  background: #ffffff;
  border-color: #ffffff;
}
.card.alt .button-container button span {
  color: #284695;
}
.card.alt .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
}
.card.alt .button-container button:active:before, .card.alt .button-container button:focus:before {
  display: none;
}

/* Keyframes */
@-webkit-keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
@keyframes buttonFadeInUp {
  0% {
    bottom: 30px;
    opacity: 0;
  }
}
/*Login Ends here*/

/*Act Page Starts Starts*/

._actPage .container .table-responsive {
  margin-top: 2em;
  background-color: white; 
}

._actPage .container .table-responsive .table{
  background-color: rgba(240,240,240,.5);
  margin: 10px;
    max-width: 98%;
}

._actPage .container .table-responsive tr th{
  color: #284695;
}
/*._actPage .container .table-responsive tr td:hover{
    color: white;
    background-color: #7e90bf;
}*/
._actPage .container .table-responsive .fa{
      cursor: pointer;
}

._addnewact,._addnewvendor{
    text-align: right;
    /*width: 100%;*/
    float: right;
    padding: 20px;
    color: #284695;
    /*opacity: .7;*/
    cursor: pointer;
    position: absolute;
    right: 0;
}
._addnewact:hover{
  opacity: .7;
  text-decoration: underline;
}
._addnewact button,._addnewvendor button{
  border: none;
  background-color: transparent; 
}
._search{
    text-align: right;
    /*width: 100%;*/
    float: right;
    padding: 20px 0px 20px 20px;
    color: #284695;
    /*opacity: .7;*/
    cursor: pointer;
    position: absolute;
    right: 3em;
}
._search:hover{
  opacity: .7;
  text-decoration: underline;
}
._search .search_section input{
  width: 0px;
  height: 0px;
  padding: 0px;
  transition: all .5s ease;
  border: 0px solid #284695;
  position: absolute;
    right: 1.2em;
    top: .8em;
    color: black;
    font-weight: 600;
}
._search ._srch input{
   width: 200px;
    height: 30px;
    padding: 2px 25px 2px 10px;
    border: 2px solid #284695;
     transition: all .5s ease;
}
.tblData,.vendortblData{
  margin-top: 3em;
}

.editbtn{
    background: transparent;
    border: none;
}
.dlt_btn{
   background: transparent;
    border: none;
}
.modal-body{
  display: inline-block;
  width: 100%;
}
.modal-body div{
  padding: 10px;
}

.flie_return_section{
  width: 95%;
  margin: 2em auto;
  position: relative;
  display: table;
  background: white;
} 
.flie_return_section div{
  padding: 20px 10px;
}
.flie_return_section div span:nth-child(odd){
  color: #284695;
  padding: 5px 10px;
  font-weight: 600;
}
.flie_return_section div span aside{
  text-align: right;
  display: table;
  float: right;
}
.flie_return_section div select,.flie_return_section div input,.flie_return_section div button{
  width: 250px;
  padding: 3px 20px;
}
.fileUpload {
    position: relative;
    overflow: hidden;
    margin: 10px;
}
.fileUpload input.upload {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
}
/*Act Page Ends Starts*/
/*Bashboard Page Starts Here*/
h1.page-header {
    margin-top: -5px;
}
.navbar-default{
  background-color: white;
  border-bottom: none;
  border-radius: 0;
}
.hdrbar {
    /*float: left;
    margin: 5px;
    text-align: center;
    color: #FFF;*/
    font-weight: bold;
    text-shadow: 0px 1px 2px rgba(0,0,0,0.25);
    line-height: 5em;
    position: relative;
    /*height: 5em;*/
    width: 100%;
    background: rgba(230,240,255,0.4);
    border: 2px dashed transparent;
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
    /*border-radius: 4px;*/
    /*-webkit-border-radius: 4px;*/
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}
.hdrbar:before {
  content: '';
  position: absolute;
  z-index: -1;
  height: 70%;
  top: 9px; right: 0px; left: 25px;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  width: 97%
}

.hdrbar:hover { box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.25); }

.hdrbar.over { 
  border: 2px dashed rgba(0,0,0,0.2); 
  background-color: rgba(0,0,0,0.05); 
  box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.15);
}
.hdrbar:before {
  background: #14A7E5 ;
}

.hdrbar:active {
  /*-webkit-transform: scale(0.9);
  -moz-transform: scale(0.9);
  -ms-transform: scale(0.9);
  -o-transform: scale(0.9);*/
}
.sidebar {
  padding-left: 0;
}

.main-container { 
  /*background: #FFF;*/
  /*padding-top: 15px;*/
  margin-top: -20px;
}
.navbar-default .navbar-brand{
  color: #284695;
}
.footer {
  width: 100%;
}  

:focus {
  outline: none;
}
.nav>li>a:focus .arrow-1-img, .nav>li>a:hover .arrow-1-img {
    background-image: url('../images/arrows-1.png');
}
.arrow-1-img{
  background-image: url('../images/arrow-1-white.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 18px;
  display: inline-block;
  float: left;
  margin-top: 2px;
}
.arrow-1-img-active{
  background-image: url('../images/arrows-1.png');
  background-repeat: no-repeat;
  width: 32px;
  height: 18px;
  display: inline-block;
  float: left;
  margin-top: 2px;
}
.folder{
  background-image: url('../images/arrow-white.png'),url('../images/folder-white.png');
  /*background-position: top bottom, left top;*/
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
  display: inline-block;
  float: left;
  /*margin-top: 2px;*/
  background-position: 3px -1px,0px 4px;
  background-size: 13px;
}
.folder-active{
   background-image: url('../images/arrows.png'),url('../images/folder.png');
  /*background-position: top bottom, left top;*/
  background-repeat: no-repeat;
  width: 32px;
  height: 22px;
  display: inline-block;
  float: left;
  /*margin-top: 2px;*/
  background-position: 3px -1px,0px 4px;
  background-size: 13px;
}
.tick{
  padding: 0 10px;
    background: green;
    color: white;
    border: none;
    margin-right: 7px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px gray;
}
.cross{
  padding: 0 10px 2px;
    background: red;
    color: white;
    border: none;
    margin-right: 7px;
    border-radius: 10px;
    font-weight: bold;
    box-shadow: 3px 3px 3px gray;
}
.btn-primary{
	background-color: #284695 ;
    border-color: #284695 ;
	width: 207px;
}
.btn-primary a{
	color: #fff;
}
.btn-primary a:hover{
	text-decoration: none;
}
.btn-primary:hover  a{
	color: #284695;
}
.btn-primary:hover,.btn-primary:focus,.btn-primary:active{
    background-color: white ;
    border-color: #284695 ;
    color: #284695;
}
.open>.dropdown-toggle.btn-primary:focus, .open>.dropdown-toggle.btn-primary:hover{
    background-color: white ;
    border-color: #284695 ;
    color: #284695;
}
.nav>li>a:focus .folder, .nav>li>a:hover .folder {
    background-image: url('../images/arrows.png'),url('../images/folder.png');
}
.side-menu {
  position: relative;
  width: 100%;
  height: 100%;/*
  background-color: #f8f8f8;
  border-right: 1px solid #e7e7e7;*/
}
.side-menu .navbar {
  border: none;
  display: table;
}
.side-menu .navbar-header {
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu .navbar-nav .active a {
  background-color: transparent;
  margin-right: -1px;
  /*border-right: 5px solid #e7e7e7;*/
  color: white;
  /*transform: scale(1.05);*/
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #284695;
    background-color: transparent;
}
.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
  color: #284695;
}
.side-menu .navbar-nav li {
  display: block;
  width: 100%;
  border-bottom: 1px solid #e7e7e7;
  background-color: #284695;
}
.side-menu .navbar-nav li a {
  padding: 15px;
  color: white;
}
.side-menu .navbar-nav li a .glyphicon {
  padding-right: 10px;
}
.side-menu #dropdown {
  border: 0;
  margin-bottom: 0;
  border-radius: 0;
  background-color: transparent;
  box-shadow: none;
}
.side-menu #dropdown .caret {
  float: right;
  margin: 9px 5px 0;
}
.side-menu #dropdown .indicator {
  float: right;
}
.side-menu #dropdown > a {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body {
  padding: 0;
  /*background-color: #f3f3f3;*/
}
.side-menu #dropdown .panel-body .navbar-nav {
  width: 100%;
}
.side-menu #dropdown .panel-body .navbar-nav li {
  padding-left: 15px;
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #dropdown .panel-body .navbar-nav li:last-child {
  border-bottom: none;
}
.side-menu #dropdown .panel-body .panel > a {
  margin-left: -20px;
  padding-left: 35px;
}
.side-menu #dropdown .panel-body .panel-body {
  margin-left: -15px;
}
.side-menu #dropdown .panel-body .panel-body li {
  padding-left: 30px;
}
.side-menu #dropdown .panel-body .panel-body li:last-child {
  border-bottom: 1px solid #e7e7e7;
}
.side-menu #search-trigger {
  background-color: #f3f3f3;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  right: 0;
  padding: 15px 18px;
}
.side-menu .brand-name-wrapper {
  min-height: 50px;
}
.side-menu .brand-name-wrapper .navbar-brand {
  display: block;
}
.side-menu #search {
  position: relative;
  z-index: 1000;
}
.side-menu #search .panel-body {
  padding: 0;
}
.side-menu #search .panel-body .navbar-form {
  padding: 0;
  padding-right: 50px;
  width: 100%;
  margin: 0;
  position: relative;
  border-top: 1px solid #e7e7e7;
}
.side-menu #search .panel-body .navbar-form .form-group {
  width: 100%;
  position: relative;
}
.side-menu #search .panel-body .navbar-form input {
  border: 0;
  border-radius: 0;
  box-shadow: none;
  width: 100%;
  height: 50px;
}
.side-menu #search .panel-body .navbar-form .btn {
  position: absolute;
  right: 0;
  top: 0;
  border: 0;
  border-radius: 0;
  background-color: #f3f3f3;
  padding: 15px 18px;
}
/* Main body section */
.side-body {
  margin-left: 310px;
}
.nh_background{
  background-color: #284695;
}
.nh_background ul li a{
  color: white !important;
}
.navbar-default .navbar-collapse, .navbar-default .navbar-form{
  border:none;
  /*width: 175px;*/
}
.nav>li>a:focus, .nav>li>a:hover {
    background-color: #efefef;
    color: #284695 !important;
  }
  .dropdown-menu>li{
    display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	cursor: pointer; 
  }
  .dropdown-menu>li:focus, .dropdown-menu>li:hover{
    color: white;
	background-color: #284695; 	
  }
  .open>.dropdown-menu{
	width: 207px;
  }
/* small screen */
@media (max-width: 768px) {
  .side-menu {
    position: relative;
    width: 100%;
    height: 0;
    border-right: 0;
  }

  .side-menu .navbar {
    z-index: 999;
    position: relative;
    height: 0;
    min-height: 0;
    background-color:none !important;
    border-color: none !important;
  }
  .side-menu .brand-name-wrapper .navbar-brand {
    display: inline-block;
  }
  /* Slide in animation */
  @-moz-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-webkit-keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @keyframes slidein {
    0% {
      left: -300px;
    }
    100% {
      left: 10px;
    }
  }
  @-moz-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @-webkit-keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }
  @keyframes slideout {
    0% {
      left: 0;
    }
    100% {
      left: -300px;
    }
  }

  /* Slide side menu*/
  /* Add .absolute-wrapper.slide-in for scrollable menu -> see top comment */
  .side-menu-container > .navbar-nav.slide-in {
    -moz-animation: slidein 300ms forwards;
    -o-animation: slidein 300ms forwards;
    -webkit-animation: slidein 300ms forwards;
    animation: slidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .side-menu-container > .navbar-nav {
    /* Add position:absolute for scrollable menu -> see top comment */
    position: absolute;
    left: -300px;
    width: 300px;
    top: -7px;
    /*height: 100%;*/
    /*border-right: 1px solid #e7e7e7;*/
    /*background-color: #f8f8f8;*/
    overflow: auto;
    -moz-animation: slideout 300ms forwards;
    -o-animation: slideout 300ms forwards;
    -webkit-animation: slideout 300ms forwards;
    animation: slideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    margin: 7.5px 6px;
  }
  @-moz-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-webkit-keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @keyframes bodyslidein {
    0% {
      left: 0;
    }
    100% {
      left: 300px;
    }
  }
  @-moz-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @-webkit-keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  @keyframes bodyslideout {
    0% {
      left: 300px;
    }
    100% {
      left: 0;
    }
  }
  /* Slide side body*/
  .side-body {
    margin-left: 5px;
    margin-top: 70px;
    position: relative;
    -moz-animation: bodyslideout 300ms forwards;
    -o-animation: bodyslideout 300ms forwards;
    -webkit-animation: bodyslideout 300ms forwards;
    animation: bodyslideout 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .body-slide-in {
    -moz-animation: bodyslidein 300ms forwards;
    -o-animation: bodyslidein 300ms forwards;
    -webkit-animation: bodyslidein 300ms forwards;
    animation: bodyslidein 300ms forwards;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  /* Hamburger */
  .navbar-toggle-sidebar {
    border: 0;
    float: left;
    padding: 18px;
    margin: 0;
    border-radius: 0;
    background-color: #284695;
    color: white;
  }
  .navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover{
    background-color: transparent;
  }
  .navbar-toggle{
    background-color: transparent;
    color: #284695;
  }

  .navbar-default .navbar-toggle .icon-bar{
    background-color: #284695;
  }
  /* Search */
  #search .panel-body .navbar-form {
    border-bottom: 0;
  }
  #search .panel-body .navbar-form .form-group {
    margin: 0;
  }
  .side-menu .navbar-header {
    /* this is probably redundant */
    position: fixed;
    z-index: 3;
    background-color: #f8f8f8;
  }
  /* Dropdown tweek */
  #dropdown .panel-body .navbar-nav {
    margin: 0;
  }
}
.navbar-default .navbar-nav>li>a{
  color: #284695;
}
.glass::before {
    display: block;
    width: 100%;
    height: 100%;
    /*background-image: url('../images/header_blur.jpg');*/
    background-size: cover;
    content: ' ';
    opacity: 0.4;
}
.glass {
    /*background-color: white;*/
}
/*.canvasjs-chart-tooltip div:nth-child(1){
  border: 2px solid #284695 !important;
}
.canvasjs-chart-tooltip div:nth-child(1) span:nth-child(1){
  color: #284695 !important;
}*/
.canvasjs-chart-credit{
  display: none;
}
.fa-tachometer,.fa-users,.fa-globe,.fa-folder,.fa-folder-open-o,.fa-cogs{
  padding-right: 15px;
}
.section_show{
  display: block !important;
}
#ncUnit{
  display: none;
}
#ncAct{
  display: none;
}
#ncAll{
  display: none;
}
#charts{
  display: none;
}
#act_sec{
  display: none;
}
#vendor_sec{
  display: none;
}
#filereturn_sec{
  display: none;
}
#tit1,#tit2,#tit3,#tit4,#tit5,#tit6,#tit7{
  display: none;
}
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
@-webkit-keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
.ovrflwH { overflow: hidden; }
/*Bashboard Page Starts Here*/
/*Responsive Starts Here*/
@media screen and (min-width: 1501px){
    body{
      width: 1500px;
      margin: auto;
      background-color: #ccc;
    }
}
@media screen and (max-width: 1500px){
    body{
      width: 100%;
      margin: auto;
      background-color: #ccc;
    }
}
@media screen and (max-width: 1200px){
  .table-responsive {
      width: 100%;
      margin-bottom: 15px;
      overflow-y: hidden;
      -ms-overflow-style: -ms-autohiding-scrollbar;
      border: 1px solid #ddd;
  }
  ._PAD20 {
    padding: 10px;
  }
  .content {
    padding-right: 0 !important;
  }
  .side-menu .navbar-nav li a{
    padding: 10px;
    }
    .fa-tachometer, .fa-users, .fa-globe, .fa-folder, .fa-folder-open-o, .fa-cogs {
        padding-right: 8px;
    }
    .side-menu .navbar-nav li a {
      padding: 10px;
      color: white;
      font-size: 12px;
    }
    .folder,.arrow-1-img{
      width: 22px;
    }
}
@media screen and (max-width: 850px){
  .flie_return_section {
    width: 105%;
    margin: 0em auto;
  }
}
@media screen and (max-width: 767px){
  .header_right_section { text-align: center; }
  .logo {
        text-align: center;
    }
    .flie_return_section div span aside {
      display: none;
    }
    .flie_return_section div span:nth-child(odd) {
      padding: 5px 15px;
    }
    .table>thead>tr>th{
      border-top: 1px solid #ccc !important;
    }
    .main-container{
      padding: 0;
    }
    ._PAD20{
      padding: 10px;
    }
    .user_resp_menu{
      position: absolute;
      right: 2em;
      background: white;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a{
      color: #284695;
    }
    .navbar-default .navbar-nav .open .dropdown-menu>li>a:focus, .navbar-default .navbar-nav .open .dropdown-menu>li>a:hover{
      color: #284695;
      background-color: #efefef;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover{
      background-color: #efefef;
    }
    .navbar-default .navbar-collapse, .navbar-default .navbar-form{
      width: 175px;
      -webkit-background-clip: padding-box;
      background-clip: padding-box;
      border: 1px solid #ccc;
      border: 1px solid rgba(0,0,0,.15);
      border-radius: 4px;
      -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
      box-shadow: 0 6px 12px rgba(0,0,0,.175);
    }
    .flie_return_section div{
      padding: 10px 10px;
    position: relative;
    display: inherit;
    }
    .content{
      padding-right: 10px !important;
    }
    .side-menu .navbar-nav li a {
        padding: 15px;
        color: white;
        font-size: 15px;
    }
    .flie_return_section {
      width: 95%;
      margin: 1em auto 2em;
    }
}
@media screen and (max-width: 400px){
    .login_container{
        width: 95%;
        margin: auto 10px;
    }
    ._search ._srch input{
      width: 157px;
    }
    .flie_return_section div select, .flie_return_section div input, .flie_return_section div button {
      width: 175px;
    }
}
/*Responsive Ends Here*/